textarea {
  display: block;
  width: 100%;
  padding: 15px;
  outline: 0;
  resize: none;
  &::placeholder {
    color: #9e9d9d;
  }
  &:first-child {
    font-weight: 500;
  }
}
button {
  margin: 0.5rem;
  cursor: pointer;
  user-select: none;
  padding: 0.3rem 1rem;
  transition-duration: 0.3s;
  &:last-child {
    margin-left: 0rem;
    &:hover {
      background-color: #363636;
      border: 0.1rem solid transparent;
    }
  }
}
