$space: 1.5rem;

button {
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  &:not(.add, .circle, .bi-flag-fill) {
    padding: 0.7rem;
  }
  &:not(.save, .cancel, .number) {
    line-height: 0;
  }
  &:hover *,
  &:focus-visible * {
    background-color: initial;
  }
  &:not(.circle):hover,
  &:not(.circle):focus-visible {
    color: #fff;
    background-color: #3d3d3d;
  }
}
.tasks {
  max-width: 60rem;
  margin: auto;
}
.add,
.task {
  display: flex;
  margin-top: $space;
  border-radius: 1rem;
  &,
  & * {
    background-color: #2b2b2b;
  }
}
.add {
  width: 100%;
  align-items: center;
}
.bi-plus-lg {
  margin: 1.8rem;
}
.circle {
  display: grid;
  place-items: center;
  flex: 0 0 2.2rem;
  height: 2.2rem;
  margin: 1.6rem;
  border: 0.2rem solid;
}
.bi-check {
  opacity: 0;
  .circle:hover &,
  .circle:focus-visible & {
    opacity: 1;
  }
}
.editor,
textarea {
  width: 100%;
  border-radius: 0 1rem 1rem 0;
}
textarea {
  display: block;
  padding: $space;
  padding-left: 0;
  resize: none;
  &::placeholder {
    color: #bbb;
  }
}
.title {
  padding-bottom: calc($space / 3);
  font-weight: 500;
}
.desc {
  padding-top: calc($space / 3);
}
.extra {
  margin: 0 $space 0.5rem -0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.dropdowns,
.buttons {
  display: flex;
}
.save,
.cancel {
  border-radius: 1rem;
}
.dropdown {
  position: relative;
}
.content {
  display: none;
  position: absolute;
  top: 5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0rem 0.7rem #000;
}
.active {
  display: block;
}
.bi-calendar + .content {
  padding: 0.5rem;
  user-select: none;
  display: block;
}
.header {
  margin: 0.7rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chevrons {
  display: flex;
}
.days,
.numbers {
  display: grid;
  grid-template-columns: repeat(7, 3.8rem);
}
.bi-flag-fill {
  white-space: nowrap;
  width: 100%;
  padding: 1rem;
  border-radius: 0;
  text-align: left;
  &::before {
    margin-right: 1rem;
  }
  &:nth-child(1) {
    border-radius: 1rem 1rem 0 0;
    &::before {
      color: #e62a2a;
    }
  }
  &:nth-child(2):before {
    color: #e9e500;
  }
  &:nth-child(3):before {
    color: #2655ee;
  }
  &:nth-child(4) {
    border-radius: 0 0 1rem 1rem;
  }
}
