$space: 1.5rem;

.add,
.task {
  display: flex;
  margin-top: $space;
  border-radius: 1rem;
  &,
  & * {
    background-color: #2b2b2b;
  }
  &:hover,
  &:focus-within {
    filter: brightness(120%);
  }
  &:focus-within {
    box-shadow: 0 0 0 0.1rem #0077ff;
  }
}
.add {
  padding: 0;
  width: 100%;
  align-items: center;
}
.bi-plus-lg {
  margin: $space;
}
button {
  padding: 0.7rem;
  border-radius: 1rem;
  user-select: none;
  cursor: pointer;
  &:hover,
  &:focus-visible {
    filter: brightness(120%);
  }
}
.left {
  margin: calc($space - 0.7rem);
}
.bi-check-circle {
  display: none;
}
.right,
textarea {
  width: 100%;
  border-radius: 0 1rem 1rem 0;
}
textarea {
  display: block;
  padding: $space;
  padding-left: 0;
  resize: none;
  &::placeholder {
    color: #bbb;
  }
}
.title {
  padding-bottom: calc($space / 3);
  font-weight: 500;
}
.desc {
  padding-top: calc($space / 3);
}
.actions {
  margin: 0 $space 0.5rem -0.7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icons {
  display: flex;
}
.dropdown {
  position: relative;
}
.menu {
  top: 5rem;
  right: -2rem;
  position: absolute;
  border-radius: 1rem;
  display: none;
  .bi-flag-fill {
    border-radius: 0;
    width: 18rem;
    padding: 1rem;
    &::before {
      margin-right: 0.8rem;
    }
    &:nth-child(1) {
      border-radius: 1rem 1rem 0 0;
      &::before {
        color: rgb(230, 42, 42);
      }
    }
    &:nth-child(2):before {
      color: rgb(233, 229, 0);
    }
    &:nth-child(3):before {
      color: rgb(38, 85, 238);
    }
    &:nth-child(4) {
      border-radius: 0 0 1rem 1rem;
    }
  }
}
.show {
  display: block;
}
